<!doctype html>
<html>
	<head>
		<link href="vendor/c3.css" rel="stylesheet" type="text/css">
		<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<style type="text/css">
		.btn {
			margin-left: 50px;
		}
		#chart .c3-line-data1 {
			stroke-width: 10px;
		}
		</style>
	</head>
	<body ng-app="stream-analytic">
		<div id="chart"></div>
		<div ng-controller="DataController">
			<button type="button" class="btn btn-primary" ng-click="loadData()">Load Data</button>
			<button type="button" class="btn btn-primary" ng-click="unloadData()">Unload Data</button>
			<button type="button" class="btn btn-primary" ng-click="hideData()">Hide Data1</button>
			<button type="button" class="btn btn-primary" ng-click="showData()">Show Data1</button>			
		</div>
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-bootstrap/ui-bootstrap.js"></script>
		<script type="text/javascript" src="vendor/bower_components/d3/d3.min.js" charset="UTF-8"></script>
		<script type="text/javascript" src="vendor/c3.min.js"></script>
		<script type="text/javascript">
		var chart = c3.generate({
			bindto: '#chart',
			data: {
				columns: [
					['data1', 30, 200, 100, 400, 150, 250],
					['data2', 50, 20, 10, 40 , 15, 25]
				],
				axes: {
					data2: 'y2'
				},
				types: {
					data2: 'bar'
				}
			},
			axis: {
				y: {
					label: {
						text: 'Y Label',
						position: 'outer-middle'
					},
					tick: {
						format: d3.format("$,")
					}
				},
				y2: {
					show: true,
					label: {
						text: 'Y2 Label',
						position: 'outer-middle'
					}
				}
			},
			zoom: {
				enabled: true
			}
		});

		var module = angular.module('stream-analytic', []);

		module.controller('DataController', function($scope) {
			$scope.loadData = function() {
				chart.load({
					columns: [
						['data3', 300, 100, 250, 150, 300, 150, 500],
						['data4', 100, 200, 150, 50 , 100, 250]
					]
				});
			}

			$scope.unloadData = function() {
				chart.unload({
					ids: ['data3', 'data4']
				});
			}

			$scope.hideData = function() {
				chart.hide(['data1']);
			}

			$scope.showData = function() {
				chart.show(['data1'])
			}
		});
		</script>
	</body>
</html>